*{
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}

/* Set a background color and text color for the entire page */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    height: 100vh;
}


nav{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.cta-button {
    /* background-color: #ff9900; */
    border: 2px solid;
    color: #fff;
    padding: 10px 20px;
    /* border-radius: 5px; */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e68a00;
}

/* Hero Banner Styles */
.hero {
    background-image: url('hero-image.jpg');

    /* background-size: cover; */
    text-align: center;
    /* padding: 100px 0; */
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero div{
    width: 820px;
}

.hero h1 {
    color: #fff;
    max-width: 730px;
    font-size: clamp(3.5rem,8vh,120px);
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -4;
    margin-bottom: clamp(2rem,8vh,4px);
}

.hero p {
    color: #828282;
    font-weight: 700;
    font-size: clamp(1rem,3vh,24px);
    letter-spacing: -1px;
    line-height: 1.25;
    margin-bottom: 30px;
}

.hero-button {
    background-color: #ff9900;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #e68a00;
}

/* Key Features Section Styles (Add more styles for the features as needed) */
.key-features {
    background-color: #1a1a1a;
    padding: 192px 0;

    
}
.title-section{
    margin: 15px;
    color: #fff;
    text-align: center;
}

.title-section h1{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: clamp(1.75rem,8vh,3rem);

}
.title-section p{
    margin: 0 auto 60px;
    max-width: 820px;
    color: #828282;
    font-weight: 700;
    font-size: clamp(1rem,3vh,32px);
    letter-spacing: -1px;
    line-height: 1.15;

}


.card-section{
    display: flex;
    justify-content: space-around;
    /* padding: 24px; */
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    margin: 15px;
    width: 305px;
    background:#2a2a2a;
}
.feature-title {
    padding: 24px;
}

.feature img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.feature p {
    font-size: 16px;
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    margin-top: 10px;
}

footer li {
    display: inline;
    margin-right: 20px;
}